*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header{
  background-color: #ff00ff;
  padding: 30px 20px;
  display: flex;
  justify-content: flex-end;
}

.header > div{
  height: 70px;
  flex-basis: 140px;
  margin: 0 10px;
  background-color: #fbb3ff;
}

.header > :first-child{
  margin-right: auto;
}


.main{
  display: flex;
  justify-content: center;
}

.side{
  width: 300px;
  background-color: #d8ffb6;
}

.main_boxes{
  max-width: 700px;
  flex-grow: 1;
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: #00b522;
}

.main_boxes > div{
  flex-basis: 200px;
  height: 130px;
  margin: 10px;
  background-color: #fff75a;
}

.footer{
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: #52a1ff;
}

.footer > div{
  display: flex;
  justify-items: center;
  height: 40px;
  margin: 10px;
  width: 45%;
  max-width: 600px;
  background-color: #b6e7ff;
}
